#!/usr/bin/make -f 
DEB_CXXFLAGS_MAINT_APPEND=-O3
%:
	$(info *** dh $(@) ***)
	dh $(@) --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTING=OFF -DBUILD_DOC=OFF
